*{
    margin: 0;
    padding: 0;
}

.nav-color{
    background-color: #0a1527;
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.user-heading{
    color: aliceblue;
    margin-top: 20px;
    cursor: pointer;
}

.humber_btn{
   cursor: pointer;
   background: #FFF;
   border-radius: 3px;
   width: 46px;
   height: 38px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1em;
}
.humber_btn svg{
    width: 100% !important;
}
.humber_btn svg path{
    width: 100%;
}
.right_sider_option{
    display: flex;
    gap: 20px;
}