*{
    margin: 0;
    padding: 0;
}

.nav-color{
    background-color: #0a1527;
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.user-heading{
    color: aliceblue;
    margin-top: 20px;
    margin-left: 1100px;
}