.container {
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
  }
  
  .table {
    margin: auto;
    width: 80%;
    text-align: center;
  }
  
  .text-success {
    color: green;
  }
  
  .text-danger {
    color: red;
  }
  
  .table i {
    margin-left: 10px; /* Adjust as needed */
  }
  
  @media (max-width: 768px) {
    /* Responsive adjustments */
    .table i {
      margin-left: 5px; /* Adjust as needed for smaller screens */
    }
  }
  