.sidebar {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #10223c;
  padding-top: 20px;
  transition: transform 0.3s ease;
  transform: translateX(0);
  position: relative;
  }
  .sidebar .title_head h4{
    color: #FFF;
  }
  .sidebar .offcanvas-body {
    padding-top: 0;
  }
  
  .sidebar .list_items ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar .list_items li {
    padding: 10px 20px;
    cursor: pointer;
    border-top: 1px solid #27314c;
  }
  .sidebar .list_items li a{
    color: #e6e6e6;
    text-decoration: none;
    font-weight: 500;
  }
  .sidebar .list_items li a:hover{
    color: #d63384;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      transform: translateX(-250px);
    }
  
    .sidebar.open {
      transform: translateX(0);
    }
  
    .content {
      margin-left: 0;
    }
  }
  